<div class="container">
  <h1>New User</h1>
  <%= render 'form', user: @user %>
  <%= link_to 'Login', users_path, class: "btn btn-md btn-primary" %>
  <%= link_to 'Home', root_path, class: "btn btn-md btn-primary" %>
</div>
