<div class="container">
  <div class="center jumbotron">
    <center>
      <h1>Welcome</h1>
      <% if session[:current_user_id] %>
      <h3>Hi, <%= User.find(session[:current_user_id]).name %></h3>
      <% else %>
      <%= link_to 'Sign Up', new_user_path, class: "btn btn-lg btn-success" %>
      <%= link_to 'Log in', users_path, class: "btn btn-lg btn-success" %>
      <% end %>
      <br><br>
      <p><%= link_to "Items", items_path, class: "btn btn-lg btn-primary" %></p>
    </center>
  </div>
</div>
